config MTK_IMGSENSOR
  bool CONFIG_MTK_IMGSENSOR
  default n
  help
    CONFIG_MTK_IMGSENSOR

config HUAWEI_CAMERA_DSM
  bool CONFIG_HUAWEI_CAMERA_DSM
  default n
  help
    CONFIG_HUAWEI_CAMERA_DSM
source "drivers/misc/mediatek/imgsensor/src/Kconfig"
