####dura64_board_AL00A_defconfig#####
CONFIG_MTK_MD1_SUPPORT=12
CONFIG_MTK_C2K_LTE_MODE=2
CONFIG_MTK_MD_SBP_CUSTOM_VALUE="0"
####dura64_board_AL00A_defconfig#####
CONFIG_CUSTOM_KERNEL_STEP_COUNTER=y
CONFIG_MTK_KX126_1063=y
CONFIG_MTK_BMA455=y